* { 
  box-sizing: border-box;
}

.hero-4 {
 background-color: rgb(246, 245, 241);
}

h1 {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 64px;
 font-weight: 600;
 margin: 0;
 color: rgb(34, 37, 46)
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  color: rgb(34, 37, 46)
}

p {
  font-family: Arial, Helvetica, sans-serif;
 font-size: 16px;
 color: rgb(123, 124, 129)
}

.tagline-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.wrapper-4 {
  display: flex;
  flex-direction: row;
  width: 100%;
  
}

@media (min-width: 50rem) {
  .wrapper {
      flex-direction: row;
  }
}


.card-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0rem 3rem;
  width: calc(100% / 3);
}

.container-4 {
  display: inline-block;
  padding: 16px;
  text-align: center;
}

.image-4 {
  width: 100%;
  max-width: 18rem;
}
