* { 
    box-sizing: border-box;
}

.hero-2 {
   background-color: rgb(246, 245, 241);
   padding: 5rem 0rem;
}

.h1-work {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 64px;
   font-weight: 600;
   margin: 0;
   color: rgb(34, 37, 46)
}

.h2-work {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    color: rgb(34, 37, 46)
}

.p-work {
    font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-weight: 300;
   color: rgb(123, 124, 129)
}

.tagline-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

@media (min-width: 50rem) {
    .wrapper-2 {
        flex-direction: row;
    }
}


.card-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem 3rem;
    width: 100%;
}

@media (min-width: 50rem) {
    .card-2 {
        width: calc(100% / 3);
    }
}

.container-2 {
    display: inline-block;
    padding: 16px;
    text-align: center;
}

.image-2 {
    width: 100%;
    max-width: 18rem;
}
